# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
.idea
.code
.vscode

# Ignore all the auto gen code to ensure we have a clean repo for each pull
02-moq-example-generated/airplane_mock.go
03-moq-example-gogenerate/airplane_mock.go
04-simple-mock-gen/airplanereader_mock.go
